/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.aremedia-block-form {
	border: 1px solid #ccc;
	padding: 20px 32px;
	background: #eee;
}